{% extends "blogs/base.html" %}

{% block page_header %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h4 class="display-4 ">
      Where we share only the coolest news around town, man.
    </h4> 
  </div>
{% endblock page_header %}

{% block content %}
  {% if user.is_authenticated %}
    <a href="{% url 'blogs:new_post' %}">Add a new post</a>
  {% endif %}

  <br>
  
  <h3>Blogs:</h3>
  <ul>
    {% for blog in blogs %}
    <li>
      <h4>{{ blog.title }}, {{ blog.date_added|date:'M d, Y h:i A e'}}</h4>
      <p>{{ blog.text[0:50]... }}</p>
      {% comment %} <a href="{% url 'blogs:' %}"></a> {% endcomment %}
      {% if blog.owner == user %}
        <a href="{% url 'blogs:edit_post' blog.id %}">Edit Post</a>
      {% endif %}
    </li>
    {% empty %}
    <p>Sorry, there have been no blog posts added yet. </p>
    {% endfor %}
  </ul>

{% endblock content %}
