{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utg-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, 
    shrink-to-fit=no">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<h1>Learning Logs</h1>

<h3>
  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'users:logout' %}">Log out</a>
  {% else %}
    <a href="{% url 'users:login' %}">Log in</a> - 
    <a href="{% url 'users:register' %}">Register</a>
  {% endif %}
</h3>

<h2>
  <a href="{% url 'learning_logs:index' %}">Learning Logs</a> - 
  <a href="{% url 'learning_logs:topics' %}">Topics</a>
</h2>

{% block content %}{% endblock content %}