{% extends "learning_logs/base.html" %}

{% block content %}
<div>
    <h1>Topic: {{ topic }}</h1>

    <h2>Entries:</h2>
    <ul>
      {% for entry in entries %}
        <li>
          <p>{{ entry.date_added|date:'M d, Y h:i A e' }}</p>
          <p>{{ entry.text|linebreaks }}</p>
        </li>
      {% empty %}
        <li>There are no entries for this topic yet.</li>
      {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
</div>
{% endblock content %}